@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
h1 {
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 12px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

a {
  color: #000;
}

a:hover {
  color: #3C3C3C;
}

a img:hover {
  color: #3C3C3C;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.container {
  margin: 0px auto;
  max-width: 1307px;
}

.header {
  margin: 35px 0 0 0;
}
.header__row {
  display: flex;
  margin: 0 -10px;
}
.header__title {
  flex: 0 0 65%;
  padding: 0 10px;
}
.header__menu {
  flex: 0 0 35%;
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__menu_link {
  font-size: 20px;
  color: #000;
}
.header__menu_link:hover {
  border-bottom: 2px solid #3C3C3C;
}
.header__menu li {
  list-style: none;
}

.user__row {
  display: flex;
  align-items: flex-end;
  flex: 0 1 50%;
  padding: 0 12px;
}
.user__avatar img {
  max-width: 100px;
  max-height: 100px;
}
.user__avatar {
  flex: 0 0 50px;
}
.user__item {
  margin: 5px 0;
  display: flex;
}
.user__name {
  padding: 0 5px;
  border-left: 2px solid #6ED053;
}
.user__data {
  font-weight: 500;
  font-size: 20px;
}
.user__data:first-letter {
  text-transform: capitalize;
}
.user__data:hover {
  color: #004F08;
}

.title {
  font-weight: 700;
}

.menu a {
  text-decoration: none;
}

.menu li {
  list-style: none;
}

.menu {
  background-color: #000;
  margin: 32px 0 0 0;
}
.menu__list {
  display: flex;
  font-size: 20px;
  padding: 15px 0;
}
.menu__link {
  color: #fff;
  margin: 0 44px 0 0;
}
.menu__link:hover {
  color: #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.content {
  flex: 1 1 auto;
}
.content__row {
  display: flex;
  margin: 0 -11px;
}

.column__left {
  flex: 0 0 66%;
  margin: 0 11px;
}
.column__right {
  flex: 0 1 34%;
  margin: 0 11px;
}

.articles {
  padding: 36px;
  background-color: #ebebeb;
  margin: 25px 0;
}
.articles__top {
  display: flex;
  justify-content: space-between;
}
.articles__link {
  color: #000;
}
.articles__body {
  margin: 20px 0 0 0;
}

.article {
  padding: 36px;
  background-color: #ebebeb;
  margin: 25px 0;
}
.article__top {
  display: flex;
  justify-content: space-between;
}
.article__body {
  margin: 20px 0 0 0;
}
.article__img img {
  width: 100%;
}
.article__img {
  margin: 30px 0;
}
.article__text p {
  margin: 20px 0;
}
.article__text p:last-child {
  margin: 0;
}

.error404__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.error404__img img {
  height: 80vh;
}
.error404__img {
  flex: 0 0 40%;
}
.error404__info {
  text-align: center;
  flex: 0 0 60%;
  justify-content: center;
}
.error404__info p {
  margin: 10px 0;
  width: 100%;
}

.paginator {
  padding: 0 -10px;
  margin: 20px 0 0 0;
  width: 100%;
}
.paginator__row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.paginator__back {
  flex: 0 0 15%;
  margin: 5px 10px;
}
.paginator__beetwen {
  flex: 0 0 15%;
  margin: 5px 10px;
}
.paginator__forward {
  flex: 0 0 15%;
  margin: 5px 10px;
}

.body__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}

.item__row {
  display: flex;
  flex: 0 1 50%;
  margin: 20px 0 0 0;
  padding: 0 12px;
}
.item__image img {
  max-width: 125px;
  max-height: 125px;
}
.item__image {
  flex: 0 0 125px;
}
.item__body {
  margin: 0 0 0 22px;
  width: 100%;
}
.item__title {
  font-size: 18px;
}
.item__categorie {
  margin: 10px 0 0 0;
  font-size: 14px;
}
.item__text {
  margin: 10px 0 0 0;
  font-size: 16px;
}
.item__border:last-child {
  border: none;
}
.item__admin {
  display: flex;
  flex-direction: column;
}
.item__edit {
  margin: 10px;
}
.item__delete {
  margin: 10px;
}

.edit {
  margin: 15px 0 0 0;
  padding: 0 0 0 5px;
  border-left: 2px solid #6ED053;
}
.edit__textarea {
  width: 100%;
  margin: 5px 0;
}
.edit__summary {
  color: #20501F;
}

.form__row {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.form__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__title {
  flex: 1 1 20%;
  display: flex;
  align-items: center;
}
.form__textarea {
  width: 100%;
  min-height: 100%;
}
.form__control {
  margin: 5px 0;
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100%;
  border: 1px solid #d7d7d7;
}
.form__file {
  display: flex;
  align-items: center;
}
.form__button {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dash__gorizont {
  border-bottom: 1px solid #d7d7d7;
}
.dash__vertical {
  border-left: 1px solid #d7d7d7;
}

.success {
  font-size: 14px;
  color: green;
  font-weight: 700;
  border-bottom: 1px solid #C1C1C1;
  padding-bottom: 3px;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
}

.errors {
  font-size: 14px;
  color: red;
  font-weight: 700;
  border-bottom: 1px solid #C1C1C1;
  padding: 3px;
  margin: 5px;
  display: inline-block;
  width: 100%;
}

.button {
  background-color: #505050;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.75);
  margin: 0 10px;
}
.button__disabled {
  margin: 0 10px;
  background-color: #B4B4B4;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
}

.button:hover {
  background-color: #666565;
}

.button:active {
  box-shadow: 2px 5px 10px -5px rgba(0, 0, 0, 0.75);
}

.sidebar {
  margin: 25px 0;
  padding: 36px;
  background-color: #ebebeb;
}
.sidebar__item {
  margin: 10px 0;
}

.footer {
  flex: 0 0 auto;
  background-color: #ebebeb;
  padding: 40px 0;
}
.footer__row {
  display: flex;
  margin: 0 -10px;
}
.footer__title {
  flex: 0 0 50%;
  padding: 0 10px;
}
.footer__menu {
  flex: 0 0 50%;
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__menu_link {
  font-size: 20px;
  color: #000;
}
.footer__menu_link:hover {
  border-bottom: 2px solid #000;
}
.footer__menu li {
  list-style: none;
}